@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  nav {
    @apply max-w-7xl flex mx-auto justify-between px-4 py-4 absolute top-0 w-full left-0 right-0 z-50;
  }

  /* nav img {
    @apply h-[35px] md:h-[40px] lg:h-[50px];
  }
  nav ul {
    @apply hidden md:flex items-center gap-6;
  } */

  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }

  .btn-primary {
    @apply bg-amber-500 px-8 py-2 rounded-md block text-white font-bold shadow-lg hover:shadow-purple-100/50 active:scale-95 transition-all;
  }

  /* login */
  .login-form {
    @apply flex flex-col my-6;
  }

  .login-form div {
    @apply flex flex-col gap-2 my-2;
  }

  .login-form input {
    @apply border border-black/20 rounded-md px-4 py-2;
  }

  .imageshowCase {
    @apply h-[400px];
  }

  .imageshowCase img {
    @apply h-full min-h-full w-full min-w-full object-cover;
  }
}
